#resume
  %header.resume
    %h4 Renee Rochester, Web Developer
    .address
      %strong Location:
      65 High Park Avenue M6P 2R7 Toronto, Ontario, Canada
    
    .phone
      %strong Tel:
      647-385-3894

    .contact
      %strong Email: 
      = link_to "contact@heyrenee.ca", "mailto:contact@heyrenee.ca"
    
  %section.objective
    %h3 Objective
    %p As a web developer I make it my objective to have a positive impact on clients by using my experience to create effective and maintainable cod
    %p In my spare time I like to scour the internet for new tools and resources that will make me wiser and more productive. This does occasionally lead to geek spasms.

  %section.skills
    %h3 Development
    %ul
      %li Ruby on Rails ( I'm currently enjoying haml )
      %li Javascript (I'm great friends with both coffeescript and jquery.)
      %li CSS ( I'm loving compass and sass. CSS is finally sane again! )
      %li HTML5 ( gotta love that structured classing! )
    
    %h3 Tools
    %ul
      %li Mac OSX / Ubuntu
      %li Git
      %li Textmate
      %li Bash Shell

    %h3 General
    %p I'm always striving to become a better developer - whether through reading, conversation, or observation of best practices. I've learned a lot since I started - and yet there's still so much to learn.
    %p Other developers are a great source of knowledge; I often attend Toronto developer meetups in order to stay up-to-date on the latest advances in the constantly evolving technological landscape. I'm currently having fun with CSS3, HTML5, HAML, and SASS.

  %section.education
    %h3 Education
    %h4 University of Toronto, Philosophy
  
  %section.work-history
    %h3 Work History
    %h4 Freelance 2010-Present
    %ul
      %li= link_to "Pet Expertise", "http://www.petexpertise.com", :target => :blank
      %li= link_to "Mountain Biking Festival", "http://www.mtbonfestival.com", :target => :blank
      %li= link_to "Exploration Fitness", "http://www.explorationfitness.com", :target => :blank

    %h4 Freelance 2009-2010
    %ul
      %li= link_to "Success Circle", "http://successcircle.ca", :target => :blank
      %li= link_to "Canadian Breast Cancer Foundation E-Newsletter", "http://www.cbcf.heyrenee.ca", :target => :blank
      %li= link_to "Sunryse Shredding Service", "http://www.sunryseshred.com/", :target => :blank

  %section.references
    %h3 References Available Upon Request
        